%% -*- mode: erlang -*-
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [ 
         {jsx, "2.8.0"}
       , {sync,    {git, "git://github.com/rustyio/sync",               {ref, "9c78e7b"}}}  
       , {uuid,    {git, "https://github.com/okeuday/uuid.git",         {tag, "v1.5.0"}}}
       , {ibrowse, {git, "https://github.com/cmullaparthi/ibrowse/",    {tag, "v4.2"}}}
]}.
